body{
background-color: #eaffd0;

}
img {
    width: 200px;
background-color:#eaffd0;
 }

 h1{
     color: #007965;
 }

 p{
     color:#295939;
 }

 .bacon{
     background-color: #d92027;
 }

 .broccoli{
     background-color: #007965;
 }